<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="chrome=1">
        <title>IonTrap.Net - {{ page.title }}</title>
        <link rel="stylesheet" href="/stylesheets/styles.css">
        <!--link rel="stylesheet" href="/stylesheets/github-light.css"-->
        <link rel="stylesheet" href="/stylesheets/github-markdown.css">
        <link rel="stylesheet" href="/static/minimal/stylesheets/pygment_trac.css">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        {% if page.date == Nil %}
        <script src="//cdn.bootcss.com/jquery/3.0.0-alpha1/jquery.min.js"></script>
        {% endif %}
        {% if page.katex %}
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.5.1/katex.min.css">
        <script src="//cdn.bootcss.com/KaTeX/0.5.1/katex.min.js"></script>
        <script src="//cdn.bootcss.com/KaTeX/0.5.1/contrib/auto-render.min.js"></script>
        </script>
        {% endif %}
        {% if page.mathjax or page.math %}
        <script type="text/x-mathjax-config">
          MathJax.Hub.Config({
            TeX: {
              equationNumbers: {
                autoNumber: "AMS",
                useLabelIds: true
              },
            },
            "HTML-CSS": {linebreaks: {automatic: true}},
            SVG: {linebreaks: {automatic: true}},
            tex2jax: {
              inlineMath: [ ['$','$'], ['\\(', '\\)'] ],
              displayMath: [ ['$$','$$'], ['\\[', '\\]'] ],
              processEscapes: true
            }
          });
        </script>
        <!--script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script-->
        <script src="//cdn.bootcss.com/mathjax/2.5.3/MathJax.js?config=TeX-AMS_HTML-full"></script>
        {% endif %}
        {% if page.highlight or page.code %}
        <link rel="stylesheet" href="//cdn.bootcss.com/highlight.js/8.8.0/styles/github.min.css">
        <script src="//cdn.bootcss.com/highlight.js/8.8.0/highlight.min.js"></script>
        {% endif %}
        <link href="//cdn.bootcss.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
        <!--[if lt IE 9]>
        <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="wrapper">
            <header>
                <h1><a href="/">{{ site.title }}</a></h1>
                <div class="nav" id="sidebar">
{% capture sidebar %}{% include sidebar.md %}{% endcapture %}
{{ sidebar | markdownify }}
                </div>
                <script type="text/javascript">
                    var path = window.location.href;
                    path = path.replace(/\/$/,"");
                    path = decodeURIComponent(path);
                    var sidebar = document.getElementById('sidebar');
                    var objs = sidebar.getElementsByTagName('a');
                    for (i in objs) {
                        var obj = objs[i];
                        var href = obj.href;
                        if (typeof(href) == 'string' && path.substring(0,href.length) == href)
                            obj.className = 'active';
                    }
                </script>
            </header>